.ingredient-input {
  padding: 0.6em 0.5em;
  border-radius: 8px;
  background-color: var(--color-primary);
  border: 20px;
  width: fit-content;
  display: flex;
  gap: 10px;
}

.ingredient-input > input {
  border: none;
  border-radius: 5px;
}

.ingredient-input > button {
  border: none;
  padding: 0rem 0.5rem;
  border-radius: 5px;
  background-color: var(--color-accent);
  cursor: pointer;
  color: var(--color-secondary);
}

.ingredient-input > button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
